@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@300&family=Bebas+Neue&display=swap');
body, html{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: #247881;
    color: white;
}

.titulo{
    font-family: 'Bebas Neue', cursive;
}

nav a {
    margin-left: 2em;
    text-decoration: none;
    color: white;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

nav a:hover{
  color: aqua;
  text-decoration: overline;
  
}

nav a:active{
  background-color: white;
  border-radius: 20%;
  text-decoration: none;
}



.box-principal {
    background: cover;
    height: 400px;
    padding: 50px 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/rect%3e%3cpath d='M1440 0L1406.19 0L1440 244.42z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1406.19 0L1440 244.42L1440 294.19L1147.95 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1147.95 0L1440 294.19L1440 314.79L1082.27 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1082.27 0L1440 314.79L1440 398.90000000000003L885.35 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L120.71 560L0 492.39z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 492.39L120.71 560L316.54 560L0 267.80999999999995z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 267.81L316.54 560L394.3 560L0 213.77z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 213.76999999999998L394.3 560L847.6600000000001 560L0 65.24999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.box-secundario{
    background: rgb(45,253,226);
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, #30AADD 72%);
    height: 500px;
}


:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  
  .box-secundario{
    height: 100%;
    font-family: 'Alata', sans-serif;
  }
  
  .hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
    filter 200ms linear,
    transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

strong{
    font-weight: bolder;
}

.conteudo {
    margin: 0 3em;
    text-align: center;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
} 

.conteudo h2 {
    font-size: 50px;
}

ul {
    list-style: none;
}
.conteudo-botao {

    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ondas{
    position: relative;
    bottom: 20px;
}

footer{
    background: rgba(253,187,45,1);
    height: 150px;
    text-align: center;
    padding: 40px 0;
}

.socialmedia img{
  height: 50px;
  width: 50px;
  margin-left: 15px; 
}

.socialmedia p{
  margin-top: 20px;
  color: black;
  font-size: 13px;
}

.socialmedia img:hover{
  height: 80px;
  width: 80px;
  margin-left: 30px; 
}

@media screen and (max-width: 480px) {
  body{
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  footer{
    margin: auto;
  }

  .ondas{

    opacity: 0;
  }

  .titulo{
    font-size: 2em;
    align-items: center;
  }

  nav a {
    display: flex;
    align-items: bottom;
  }
}

